.container {
    display: flex;
    background-color: blue;
    padding: 4% 0;
    width: 400px;
    height: 350px;
    align-items: center;
    flex-direction: column;
    background-image: url(img/Jowhareh_galleries_4_poster_71fc92b0-27f6-4a8e-9477-77e528c577a2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    padding: 5% 12%;
    margin-right: 2%;
    border-radius: 20px;
    border: none;
}

button {
    background-color: blue;
    border-radius: 20px;
    border: none;
    color: white;
}

body {
    display: flex;
    justify-content: center;
}