.container {
    display: flex;
    height: 350px;
    background-color: blue;
    padding: 4% 0;
    width: 400px;
    align-content: space-between;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

input {
    padding: 2%;
    margin-right: 2%;
    border-radius: 10px;
    border: none;
}

button {
    background-color: aqua;
    border-radius: 10px;
    border: none;
    color: blue;
}

body {
    display: flex;
    justify-content: center;
}